<link rel="stylesheet" href="./src/components/PopUpEditUserInfo/PopUpEditUserInfo.css" type="text/css">

<form method="post" class="popup-form" novalidate>
    <div class="popup-form__header text-normal-large-thin">
        Изменить {{title}}
    </div>
    <div class="popup-form__fields">
        {{#each fields}}
            <div class="popup-form__field">
                <div class="field-name text-normal-default">
                    {{this.name}}
                </div>
                <input class="popup-form__input text-normal-default" name={{this.name}} id={{this.name}} value={{this.value}}>
            </div>
        {{/each}}
    </div>
    <div class="popup-form__buttons">
        <button class="button-default popup-form__button popup-form__cancel" id="popup-form__cancel">Отменить</button>
        <button class="button-default popup-form__button popup-form__apply" id="popup-form__apply">Применить</button>
    </div>
</form>