<div id="block-button-add-to-cart" data-id="{{this.id}}">
    <div class="button-default add-to-cart-button"
        id="button-add-to-cart/{{this.id}}">
        В корзину
    </div>
    <div class="add-to-cart-button_amount-selector" id="amount-selector/{{this.id}}"
        data-amount="{{this.count}}">
        <button class="button-notext">
            <span class="link__no-color text-normal-large" id="button-minus_cart/{{this.id}}">−</span>
        </button>
        <div class="add-to-cart-button_amount-selector__amount">
    <span class="text-normal-large" id="amount/{{this.id}}">
        {{this.count}}
    </span>
        </div>
        <button class="button-notext">
            <span class="link__no-color text-normal-large" id="button-plus_cart/{{this.id}}">+</span>
        </button>
    </div>
</div>
