<div class="header__left">
    <div class="header__logotip">
        <a href="/">
            <img src="/img/Logo.webp" alt="LOGO" class="logo-reazon">
        </a>
    </div>

<!--    <details class="header__dropdown">-->
<!--        <summary role="button">-->
<!--            <label class="header__catalog button-default header__button-catalog paint-purple text-normal-default"-->
<!--                   for="checkbox-toggle">-->
<!--                <img src="/img/Catalog.svg" class="header__catalog-img" alt="Catalog">-->
<!--                <span>Каталог</span>-->
<!--            </label>-->
<!--        </summary>-->
<!--        <ul class="header__dropdown__content">-->
<!--            {{#each this.categories}}-->
<!--                <a href="{{this.href}}" class="text-normal-default header__dropdown__content__element"-->
<!--                   id="catalog__popUp-category">{{this.nameCategory}}</a>-->
<!--            {{/each}}-->
<!--        </ul>-->
<!--    </details>-->
<!--    <div class="header__search-line disabled">-->
<!--=======-->
    <div class="dropdown">
        <input type="checkbox" id="checkbox-toggle">
        <label class="header__catalog button-default header__button-catalog paint-purple text-normal-default"
               for="checkbox-toggle">
            <img type="image" src="/img/Catalog.svg" class="header__catalog-img" alt="Catalog">
            <span>Каталог</span>
        </label>
        <ul class="dropdown-content">
            {{#each this.categories}}
                <a href="{{this.href}}" class="header__button-catalog_element text-normal-default"
                   id="catalog__popUp-category">{{this.nameCategory}}</a>
            {{/each}}
        </ul>
    </div>
    <div class="header__search-line">
        <input type="search" class="header__form-search" name="search-line"
               placeholder="Что Вас интересует?" maxlength="75">
        <a href="" class="header__button-search header__disabled paint-purple ">
            <img type="image" src="/img/Search.svg" alt="Search">
        </a>
    </div>
</div>
<div class="header__right">
    <div class="header__order">
        <a href="/orders">
            <img src="/img/Orders.svg" alt="Orders">
        </a>
    </div>
    <div class="header__favourites disabled">
        <a href="/favourites">
            <img src="/img/Favourites.svg" alt="Favourites">
        </a>
    </div>
    <div class="header__card">
        <a href="/cart">
            <img src="/img/Cart.svg" alt="Cart">
        </a>
    </div>

    <div class="header__profile">
        {{#if session}}
            <a href="/user">
                <img src="/img/Profile.svg" alt="Profile">
            </a>
            <div class="profile__pop-up">
                <a href="/logout">
                    <img src="/img/LogOut.svg" class="profile__logout" alt="LogOut">
                </a>
            </div>
        {{else}}
            <a href="/login">
                <img src="/img/ProfileLogIn.svg" alt="LogIn">
            </a>
        {{/if}}
    </div>
</div>
