<div class="header__left">
    <div class="header__logotip">
        <a href="/">
            <img src="img/Logo.png" alt="LOGO">
        </a>
    </div>


    <details class="dropdown">
        <summary role="button">
            <a class="header__catalog button-default header__button-catalog paint-purple text-normal-default">
                <img type="image" src="./img/Catalog.svg" class="header__catalog-img" alt="Catalog">
                Каталог </a>
        </summary>
        <ul class="dropdown-content">
            {{#each this.categories}}

                <a href="{{this.href}}" class="text-normal-default dropdown-content__item"
                   id="catalog__popUp-category">{{this.nameCategory}}</a>
            {{/each}}
        </ul>
    </details>


    <!--    <div class="dropdown">-->
    <!--        <input type="checkbox" id="checkbox-toggle">-->
    <!--        <label class="header__catalog button-default header__button-catalog paint-purple text-normal-default"-->
    <!--               for="checkbox-toggle">-->
    <!--            Каталог</label>-->
    <!--        <ul class="dropdown-content">-->
        <!--            {{#each this.categories}}-->
    <!--                <a href="{{this.href}}" class="text-normal-default"-->
    <!--                   id="catalog__popUp-category">{{this.nameCategory}}</a>-->
        <!--            {{/each}}-->

    <!--        </ul>-->
    <!--    </div>-->


    <div class="header__search-line disabled">
        <input type="search" class="header__form-search" name="search-line"
               placeholder="Что Вас интересует?" maxlength="75">
        <a href="" class="header__button-search disabled paint-purple ">
            <img type="image" src="./img/Search.svg" alt="Search">
        </a>
    </div>
</div>
<div class="header__right">
    <div class="header__order">
        <a href="/orders" class="">
            <img src="./img/Orders.svg" alt="Orders">
        </a>
    </div>
    <div class="header__favourites">
        <a href="" class="disabled">
            <img src="./img/Favourites.svg" alt="Favourites">
        </a>
    </div>
    <div class="header__card">
        <a href="" class="disabled">
            <img src="img/Cart.svg" alt="Cart">
        </a>
    </div>

    <div class="header__profile">
        {{#if session}}
            <a href="">
                <img src="./img/Profile.svg" alt="Profile" class="disabled">
            </a>
            <div class="profile__pop-up">
                <a href="/logout">
                    <img src="./img/LogOut.svg" class="profile__logout" alt="LogOut">
                </a>
            </div>
        {{else}}
            <a href="/login">
                <img src="./img/ProfileLogIn.svg" alt="LogIn">
            </a>
        {{/if}}
    </div>
</div>
