{{#each items}}
    <div class="order-block__itemcard">
        <img src="{{this.item.imgsrc}}" class="order-block__itemcard__photo" alt="{{this.item.name}} photo">
        <a href="/product/{{this.item.id}}" class="text-normal-large-normal order-block__itemcard__title"> {{this.item.name}}
        </a>
        <span class="text-normal-large order-block__itemcard__counter"> {{this.count}} шт.</span>
        <span class="text-normal-very-big order-block__itemcard__counter">
            {{#if this.item.lowprice}}
                {{this.item.lowprice}} ₽
            {{else}}
                {{this.item.price}} ₽
            {{/if}}
        </span>
    </div>
{{/each}}
