{{#each comments}}
    <div class="comment">
        <div class="comment__header">
            <img src="{{#if this.userPhoto}}{{this.userPhoto}}{{else}}/img/UserPhoto.webp{{/if}}" alt="user photo"
                 class="comment__userPhoto">
            <span class="comment__color-pure-black text-normal-large-normal">
                {{#if this.userName}}{{this.userName}}{{else}}Анонимный пользователь{{/if}}</span>
            <div class="comment__date-range">
                <span class="comment_date text-normal-default">{{this.date}}</span>
                <div class="comment-page__rating-stars">
                    <input class="rating-start" type="radio" id="star5/{{this.id}}" name="rating/{{this.id}}"
                           value="5"/> <label for="star5/{{this.id}}"></label>
                    <input class="rating-start" type="radio" id="star4/{{this.id}}" name="rating/{{this.id}}"
                           value="4"/> <label for="star4/{{this.id}}"></label>
                    <input class="rating-start" type="radio" id="star3/{{this.id}}" name="rating/{{this.id}}"
                           value="3"/> <label for="star3/{{this.id}}"></label>
                    <input class="rating-start" type="radio" id="star2/{{this.id}}" name="rating/{{this.id}}"
                           value="2"/> <label for="star2/{{this.id}}"></label>
                    <input class="rating-start" type="radio" id="star1/{{this.id}}" name="rating/{{this.id}}"
                           value="1"/> <label for="star1/{{this.id}}"></label>
                </div>
            </div>
        </div>
        <div class="comment__content">
            <div class="comment__content-sections">
                <span class="text-normal-large-normal comment__color-pure-black">Достоинства</span>
                <span class="text-normal-default comment__color-jet-black">
                    {{#if this.worths}}
                        {{this.worths}}
                    {{else}}
                        нет
                    {{/if}}
                </span>
            </div>
            <div class="comment__content-sections">
                <span class="text-normal-large-normal comment__color-pure-black">Недостатки</span>
                <span class="text-normal-default comment__color-jet-black">
                    {{#if this.drawbacks}}
                        {{this.drawbacks}}
                    {{else}}
                        нет
                    {{/if}}
                </span>
            </div>
            <div class="comment__content-sections">
                <span class="text-normal-large-normal comment__color-pure-black">Комментарий</span>
                <span class="text-normal-default comment__color-jet-black">
                    {{#if this.comment}}
                        {{this.comment}}
                    {{else}}
                        нет
                    {{/if}}
                </span>
            </div>
            <div class="comment-content__like-dislike comment-content__like-dislike_margin">
                <button type="button" class="comment-content-like-button">
                    <img src="img/like-finger.svg" alt="like">
                    <span class="text-normal-default">
                        {{this.likeCount}}
                    </span>
                </button>
                <button type="button" class="comment-content-like-button">
                    <img src="img/dislike-finger.svg" alt="dislike">
                    <span class="comment-content-like-text text-normal-default">
                        {{this.dislikeCount}}
                    </span>
                </button>
            </div>
        </div>
    </div>
{{/each}}
