<div class="paint-background"></div>

<div class="content__user-page">

    <div class="user-page__global-card user-page__user-card">

        <div class="user-photo-block" id="user-photo-block">
            <img src={{#if this.avatar}}{{this.avatar}}{{else}}
            "/img/UserPhoto.webp"{{/if}} class="user-page__user-photo" id="user-photo_user-page"
            alt="user avatar photo">

            <div class="user-page__change-pop-up user-page" id="change-user-photo_user-page">
                <input type="file" style="display: none;" id="changeUserPhoto__upload"
                       accept="image/jpeg, image/png, image/jpg, image/webp">
                <div class="user-page__pop-up-button">
                    <img src="/img/editButton.svg" id="changeUserPhoto" class="pop-up-button_user-page-pic"
                         alt="edit user photo button">
                </div>
                <div class="user-page__separation-line"></div>
                <div class="user-page__pop-up-button">
                    <img src="/img/deleteButton.svg" id="deleteUserPhoto" class="pop-up-button_user-page-pic"
                         alt="delete user photo button">
                </div>
            </div>

        </div>

        <div class="user-card_user-page-block">
            <div class="user-page__user-card__block-title text-normal-large-normal"> Имя</div>


            <div class="text-normal-large-normal user-name_user-page" name="Имя" id="name" type="text"
                {{#if this.name}}value="{{this.name}}">
                    <span id="name-text">{{this.name}}
                    </span>
                {{else}}
                    value="Нет информации">
                    <span id="name-text">Нет информации</span>
                {{/if}}
                <a class="edit-profile-data">
                    <img class="user-page__edit-button" src="/img/editButton.svg" alt="edit name button">
                </a>
            </div>


        </div>

        <div class="user-card_user-page-block">
            <div class="user-page__user-card__block-title text-normal-large-normal"> Почта</div>

            <div class="user-name_user-page user-card_user-page-block-data text-normal-large-normal"
                 name="Почта" id="email"
                 type="email"
                {{#if this.email}}value="{{this.email}}"> <span id="email-text">{{this.email}}</span>{{else}}
                    value="Нет информации"> <span id="email-text">Нет информации </span>{{/if}}
                <a class="edit-profile-data">
                    <img class="user-page__edit-button" src="/img/editButton.svg" alt="edit email button">
                </a>
            </div>
        </div>

        <div class="user-card_user-page-block">
            <div class="user-page__user-card__block-title text-normal-large-normal">Телефон</div>

            <div class="user-card_user-page-block-data user-name_user-page text-normal-large-normal" name="Телефон"
                 id="phone" type="tel"
                {{#if this.phone}}value={{this.phone}}>
                    <span id="phone-text">{{this.phone}} </span>
                {{else}}
                    value="Нет информации"> <span id="phone-text">Нет информации </span>
                {{/if}}

                <a class="edit-profile-data">
                    <img class="user-page__edit-button" src="/img/editButton.svg" alt="edit phone number button">
                </a>
            </div>


        </div>
        <div class="user-card_user-page-block-password" name="Пароль" id="password" type="password">
            <a class="link text-normal-large-normal edit-profile-data"> Изменить пароль </a>
        </div>

    </div>

    <div class="user-page__popUp-fade" id="popUp-fade_user-page"></div>
    <div class="user-page__popUp" id="popUp_user-page"></div>

    <div class="user-page__global-card user-page__payment-cards-block" id="bank-card_user-page__main">
        <div class="user-page__card-block-title text-normal-large-normal"> Банковские карты</div>
        <div class="payment-cards-items_user-page" id="payment-cards-items_user-page">


        </div>
    </div>

    <div class="user-page__global-card user-page__address-cards-block" id="address-card_user-page__main">
        <div class="card-block-title_user-page text-normal-large-normal"> Адреса доставки</div>
        <div class="address-cards_user-page-items" id="address-cards_user-page-items">

        </div>
    </div>
</div>

