<div class="paint-background"></div>

<div class="content_user-page">

    <div class=" global-card_user-page user-card_user-page">

        <div id="user-photo-block">
            <img src={{#if this.avatar}}{{this.avatar}}{{else}}"img/UserPhoto.png"{{/if}} class="user-photo_user-page" id="user-photo_user-page"
                 alt="user photo">

            <div class="change-pop-up_user-page change-user-photo_user-page" id="change-user-photo_user-page">
                <a href="/changeUserPhoto" class="pop-up-button_user-page">
                    <img src="img/editButton.svg" class="pop-up-button_user-page-pic" alt="edit button">
                </a>
                <div class="separation-line_user-page"></div>
                <a href="/deleteUserPhoto" class="pop-up-button_user-page">
                    <img src="img/deleteButton.svg" class="pop-up-button_user-page-pic" alt="delete button">
                </a>
            </div>

        </div>

        <div class="user-card_user-page-block">
            <div class="user-card_user-page__block-title text-normal-large-normal"> Имя</div>
        <div class="user-name_user-page text-normal-large-normal" name="Имя" id="name"
            {{#if this.name}}value="{{this.name}}"> {{this.name}}{{else}}value="Нет информации"> Нет информации{{/if}}
            <a href="/edit" class="edit-profile-data">
                <img class="edit-button_user-page" src="img/editButton.svg" alt="edit button">
            </a>
        </div>
        </div>

        <div class="user-card_user-page-block">
            <div class="user-card_user-page__block-title text-normal-large-normal"> Почта</div>
            <div class="user-card_user-page-block-data text-normal-large-normal" name="Почта" id="email"
                {{#if this.email}}value="{{this.email}}"> {{this.email}}{{else}}value="Нет информации"> Нет информации{{/if}}
                <a href="/edit" class="edit-profile-data">
                    <img class="edit-button_user-page" src="img/editButton.svg" alt="edit button">
                </a>
            </div>

        </div>

        <div class="user-card_user-page-block">
            <div class="user-card_user-page__block-title text-normal-large-normal">Телефон</div>
            <div class="user-card_user-page-block-data text-normal-large-normal" name="Телефон" id="phone"
            {{#if this.phone}}value={{this.phone}}> {{this.phone}}{{else}}value="Нет информации"> Нет информации{{/if}}

                <a href="/edit" class="edit-profile-data">
                    <img class="edit-button_user-page" src="img/editButton.svg" alt="edit button">
                </a>
            </div>

        </div>
        <div class="user-card_user-page-block-password" name="Пароль" id="password">
            <a href="/edit" class="link text-normal-large-normal edit-profile-data"> Изменить пароль </a>
        </div>


    </div>

    <div class="popUp-fade_user-page" id="popUp-fade_user-page"></div>
    <div class="popUp_user-page" id="popUp_user-page"></div>

    <div class="global-card_user-page payment-cards-block_user-page" id="bank-card_user-page__main">
        <div class="card-block-title_user-page text-normal-large-normal"> Банковские карты</div>
        <div class="payment-cards-items_user-page" id="payment-cards-items_user-page">


        </div>
    </div>

    <div class="global-card_user-page address-cards_user-page-block" id="address-card_user-page__main">
        <div class="card-block-title_user-page text-normal-large-normal"> Адреса доставки</div>
        <div class="address-cards_user-page-items" id="address-cards_user-page-items">

        </div>
    </div>
</div>

