<div class="catalog-item-card">
    <div class="catalog-item-card__pic-block">
        <a href="/item/{{id}}">
            <img src="{{this.img}}" class="catalog-item-card__pic-block__pic" alt="item_photo" id="catalog-item-pic">
        </a>
    </div>
    <div class="catalog-item-card__description-block">
        <div class="catalog-item-card__description-block__description-title" id="item-title">
            <a href="/item/{{this.id}}"
               class="catalog-item-card__description-block__description-title text-normal-large">
                {{this.itemName}}
            </a>
        </div>

        <div class="catalog-item-card__properties-block">
            <div class="catalog-item-card-properties-block__rating-block">
                <img src="./../../../img/star-icon.svg"
                     class="catalog-item-card__description-block__properties-block__rating-block__star-icon"
                     alt="star_icon">
                <div class="text-normal-large catalog-item-card-properties-block__rating-block__rating-num"> {{this.rating}}
                    5.0
                </div>
            </div>

            <div class="text-normal-default catalog-item-card__properties-block__property-line">
                {{#if this.propertyName1}}
                    {{this.propertyName1}}: {{this.property1}}
                {{/if}}
            </div>

            <div class="text-normal-default catalog-item-card__properties-block__property-line">
                {{#if this.propertyName2}}
                    {{this.propertyName2}}: {{this.property2}}

                {{/if}}
            </div>

            <div class="text-normal-default catalog-item-card__properties-block__property-line">
                {{#if this.propertyName3}}
                    {{this.propertyName3}}: {{this.property3}}
                {{/if}}
            </div>

            <div class="text-normal-default catalog-item-card__properties-block__property-line">
                {{#if this.propertyName4}}
                    {{this.propertyName4}}: {{this.property4}}
                {{/if}}
            </div>

        </div>

    </div>
    <div class="catalog-item-card__sale-block">
        <div class="catalog-item-card__sale-block__ex-price-and-like-block">
            <div class="catalog-item-card__ex-price-and-like-block__ex-price text-normal-large-strikethrough "> {{this.exPrice}} </div>

            <label class="item_cart__selection">
                <input type="checkbox" class="favourite-opt" {{#if this.favourite}} checked {{/if}}>
            </label>

        </div>

        <div class="text-normal-very-big catalog-item-card__sale-block__catalog-price"> {{this.price}} </div>

        <div id="block-button-add-to-cart" data-id="{{this.id}}">
            <div class="button-default catalog-item-card_button-add-to-cart paint-purple"
                 id="button-add-to-cart/{{this.id}}">
                В корзину
            </div>
            <div class="catalog_amount-selector" id="amount-selector/{{this.id}}">
                <button class="button-notext" id="button-minus_cart">
                    <span class="link-no-color text-normal-large">−</span>
                </button>
                <div class="catalog_amount-selector__amount">
            <span class="text-normal-large">
                {{this.amount}}
            </span>
                </div>
                <button class="button-notext" id="button-plus_cart">
                    <span class="link-no-color text-normal-large">+</span>
                </button>
            </div>
        </div>

    </div>

</div>
