{{#each item}}
    <div class="catalog-item-card">
        <div class="catalog-item-card__pic-block" id="catalog_item-pic-block">
            <a href="/product/{{this.id}}">
                <img src="{{this.imgsrc}}" class="catalog-item-card__pic-block__pic" alt="{{this.name}} photo"
                     id="catalog-item-pic"
                     data-href="/product/{{this.id}}">
            </a>
        </div>
        <div class="catalog-item-card__description-block">
            <div class="catalog-item-card__description-block__description-title" id="catalog_item-title-block"
                 data-href="/product/{{this.id}}">
                <a href="/product/{{this.id}}"
                   class="catalog-item-card__description-block__description-title text-normal-large"
                   id="catalog_item-title">
                    {{this.name}}
                </a>
            </div>

            <div class="catalog-item-card__properties-block">
                <div class="catalog-item-card-properties-block__rating-block">
                    <img src="/img/star-icon.svg"
                         class="catalog-item-card__description-block__properties-block__rating-block__star-icon"
                         alt="rating star icon">
                    <span class="text-normal-default">Рейтинг</span>
                    <span class="text-normal-default catalog-item-card-properties-block__rating-block__rating-num">
                                {{#if this.rating}}{{this.rating}}{{else}}&minus;{{/if}}
                    </span>
                </div>
                {{#each properties}}
                    <div class="text-normal-default catalog-item-card__properties-block__property-line">
                        {{#if this.properties.name}}
                            {{this.properties.name}}: {{this.property}}
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="catalog-item-card__sale-block">
            <div class="catalog-item-card__sale-block__ex-price-and-like-block">
                <div class="catalog-item-card__ex-price-and-like-block__ex-price text-normal-large__strikethrough ">
                    {{#if this.strPrice}} {{this.strPrice}} ₽ {{/if}}
                </div>
            </div>

            <div class="text-normal-very-large__bold catalog-item-card__sale-block__catalog-price">
                {{#if this.strLowprice}} {{this.strLowprice}} {{else}} {{this.price}} {{/if}}₽
            </div>

            <div id="catalog_block-button-add-to-cart" data-id="{{this.id}}">
                <div class="button-default button__add-to-card catalog-item-card__button-add-to-cart  paint-purple"
                     id="catalog_button-add-to-cart/{{this.id}}" {{#if this.count}} style="display: none;" {{/if}}>
                    В корзину
                </div>
                <div class="catalog__amount-selector" id="catalog_amount-selector/{{this.id}}"
                     data-count="{{this.count}}" {{#if this.count}} style="display: grid;" {{/if}}>
                    <button class="button-notext">
                        <span class="link__no-color text-normal-large"
                              id="catalog_button-minus_cart/{{this.id}}">−</span>
                    </button>
                    <div class="catalog__amount-selector__amount">
            <span class="text-normal-large" id="catalog_item-count/{{this.id}}">
                {{this.count}}
            </span>
                    </div>
                    <button class="button-notext">
                        <span class="link__no-color text-normal-large"
                              id="catalog_button-plus_cart/{{this.id}}">+</span>
                    </button>
                </div>
            </div>

        </div>

    </div>
{{/each}}
