<div class="paint-background"></div>
<div class="content-product-page content-product-page_margin">
    <div class="poduct-page-header poduct-page-header_padding">
        <ol>
            {{#each path}}
                <li class="poduct-page-header__path">
                    <a class="text-normal-default poduct-page-header__path-color" href="{{this.href}}">{{this.name}}</a>
                </li>
            {{/each}}
        </ol>
        <div class="poduct-page-header__name text-normal-very-large">
            {{name}}
        </div>
        <div class="poduct-page-header__data">
            <button type="button" class="poduct-page-header__rating">
                <img src="img/Star.svg" alt="S" class="poduct-page-header__rating-img">
                <span class="text-normal-large-normal">
                    {{rating}}
                </span>
            </button>
            <a href="{{href.href}}" class="text-normal-large-normal link">{{comments.count}} отзывов</a>
            <label class="poduct-page-header__selection">
                <input type="checkbox" class="favourite-opt" {{#if this.favourite}} checked {{/if}}>
                <span class="poduct-page-header__selection-text text-normal-large-normal" id="favourite-opt_cart__text">{{#if this.favourite}}
                    В избранном {{else}} В избранное {{/if}}</span>
            </label>
        </div>
    </div>
    <div class="poduct-page-main"></div>
</div>
<div class="paint-background"></div>