<link rel="stylesheet" href="./src/components/AddressCard/AddressCard.css" type="text/css">

{{#if addCard}}
    <a href="/addAddressCard" class="address-card-template add-address-card" id="add-address-card">
        <div class="card-title text-normal-default"></div>

        <div class="card-number text-normal-small">
            <img class="add-address-card-pic" src="img/Add_card.svg" alt="PLUS">
            <div class="text-add-address-card text-normal-default"> Добавить адрес</div>
        </div>
    </a>

{{else}}
    <div class="address-card-wrapper">
        <a href="" {{#if priority}}
           class="address-card-template address-card primary-address-card"
        {{else}}
           class="address-card-template address-card other-address-card"
        {{/if}}>

            <div class="address-card-city text-normal-default">
                {{city}}
            </div>

            <div class="address-card-city text-normal-default">
                {{street}}
            </div>

            <div class="address-card-city text-normal-default"> {{house}} </div>
        </a>

        <div class="change-pop-up change-address-card">
            <a href="/editAddressCard{{index}}" class="pop-up-button edit-address">
                <img src="img/editButton.svg" class="pop-up-button-pic">
            </a>
            <div class="separation-line"></div>
            <a href="/deleteAddressCard{{index}}" class="pop-up-button delete-address">
                <img src="img/deleteButton.svg" class="pop-up-button-pic">
            </a>
        </div>
    </div>

{{/if}}
