<div class="item-card__top">
    <a href="/product/{{this.id}}" class="text-normal-small content__sales-image link__no-color">
        <img src={{imgsrc}} class="item-card__image" ind="itemcard_item-pic/{{this.id}}" alt="Item_Photo">
        {{#if price}}
            <div class="content__sales-value">
                -{{discount}}%
            </div>
        {{/if}}
    </a>
</div>

<div class="item-card__textbox">
    <div class="item-card__price">
                <span class="text-normal-large">
                    {{lowprice}} ₽
                </span>
        {{#if price}}
            <span class="text-normal-default__strikethrough item-card__text-strikethrough">
                    {{price}} ₽
                </span>
        {{/if}}
    </div>
    <a href="/product/{{this.id}}" class="text-normal-default item-card__title link__no-color"
       ind="itemcard_item-title/{{this.id}}">
        {{name}}
    </a>
</div>

<div class="item-card__bottom">
    <div class="itemcard_block-button-add-to-cart">
        <div class="itemcard_button_add-to-card button-default button_add-to-card paint-purple"
             ind="itemcard_button-add-to-cart/{{this.id}}"  {{#if this.count}} style="display: none;" {{/if}}>
            В корзину
        </div>
        <div class="catalog_amount-selector" ind="itemcard_amount-selector/{{this.id}}"
             data-count="{{this.count}}"
            {{#if this.count}} style="display: grid;" {{/if}}>
            <button class="button-notext">
                <span class="link__no-color text-normal-large" ind="itemcard_button-minus_cart/{{this.id}}">−</span>
            </button>
            <div class="catalog_amount-selector__amount">
            <span class="text-normal-large" ind="itemcard_item-count/{{this.id}}">
                {{this.count}}
            </span>
            </div>
            <button class="button-notext">
                <span class="link__no-color text-normal-large" ind="itemcard_button-plus_cart/{{this.id}}">+</span>
            </button>
        </div>
    </div>

    <a href="/comment/{{this.id}}" class="item-card__rating link__no-color">
        <img src="/img/Star.svg" alt="S" class="rating-icon">
        <span class="text-normal-default__bold">
            {{rating}}
        </span>
    </a>
</div>
