{{#if this.catalog}}
    <span class="text-normal-large best-offer-item__title">Рекомендуем</span>
{{else}}
{{/if}}
<div class="item-card__top">
    <a href="/product/{{this.id}}" class="text-normal-small content__sales-image link__no-color">
        <img src={{imgsrc}} class="item-card__image" data-selection="itemcard_item-pic/{{this.id}}"
             alt="{{this.name}} photo">
        {{#if this.strPrice}}
            <div class="content__sales-value">
                -{{this.discount}}%
            </div>
        {{/if}}
    </a>
</div>

<div class="item-card__textbox">
    <div class="item-card__price">
                <span class="text-normal-large">
                    {{this.strLowprice}} ₽
                </span>
        {{#if this.strPrice}}
            <span class="text-normal-default__strikethrough item-card__text-strikethrough">
                    {{this.strPrice}} ₽
                </span>
        {{/if}}
    </div>
    <a href="/product/{{this.id}}" class="text-normal-default item-card__title link__no-color"
       data-selection="itemcard_item-title/{{this.id}}">
        {{this.name}}
    </a>
</div>

<div class="item-card__bottom">
    <div class="item-card__block__button-add-to-cart">
        <div class="item-card__button-add-to-card button-default button__add-to-card paint-purple"
             data-selection="itemcard_button-add-to-cart/{{this.id}}"  {{#if this.count}}
             style="display: none;" {{/if}}
            {{#if this.catalog}}id="catalog_button-add-to-cart/{{this.id}}"{{/if}}>
            В корзину
        </div>
        <div class="catalog__amount-selector" data-selection="itemcard_amount-selector/{{this.id}}"
             data-count="{{this.count}}"
            {{#if this.count}} style="display: grid;" {{/if}}
            {{#if this.catalog}}id="catalog_amount-selector/{{this.id}}"{{/if}}>
            <button class="button-notext"
                    data-selection="itemcard_button-minus_cart/{{this.id}}"
                    {{#if this.catalog}}id="catalog_button-minus_cart/{{this.id}}"{{/if}}>
                <span class="link__no-color text-normal-large"
                      data-selection="itemcard_button-minus_cart/{{this.id}}"
                      {{#if this.catalog}}id="catalog_button-minus_cart/{{this.id}}"{{/if}}>−</span>
            </button>
            <div class="catalog__amount-selector__amount">
            <span class="text-normal-large" data-selection="itemcard_item-count/{{this.id}}"
                  {{#if this.catalog}}id="catalog_item-count/{{this.id}}"{{/if}}>
                {{this.count}}
            </span>
            </div>
            <button class="button-notext"
                    data-selection="itemcard_button-plus_cart/{{this.id}}"
                    {{#if this.catalog}}id="catalog_button-plus_cart/{{this.id}}"{{/if}}>
                <span class="link__no-color text-normal-large"
                      data-selection="itemcard_button-plus_cart/{{this.id}}"
                      {{#if this.catalog}}id="catalog_button-plus_cart/{{this.id}}"{{/if}}>+</span>
            </button>
        </div>
    </div>

    <a href="/comment/{{this.id}}" class="item-card__rating link__no-color">
        <img src="/img/Star{{#unless this.rating}}_dark{{/unless}}.svg" alt="rating star icon" class="rating star icon">
        <span class="text-normal-default__bold">
            {{#if this.rating}}{{this.rating}}{{else}}0.0{{/if}}
        </span>
    </a>
</div>
