<a href="" class="item-card__top disabled">
    <div class="text-normal-small content__sales-image">
        <img src={{imgsrc}} class="item-card__image" alt="iPhone 13">
        {{#if salePrice}}
            <div class="content__sales-value">
               -{{discount}}%
            </div>
        {{/if}}
    </div>
</a>

 <div class="item-card__textbox">
                <span class="text-normal-large">
                    {{price}}₽
                </span>
        {{#if salePrice}}
            <span class="text-normal-default item-card__text-strikethrough">
                    {{salePrice}}₽
                </span>
        {{/if}}
        <span class="text-normal-default item-card__title">
            {{cardTitle}}
        </span>
    </div>

<div class="item-card__bottom">
    <button type="button" class="button-default button_add-to-card paint-purple-disabled" >В корзину
    </button>
    <button type="button" class="item-card__rating" disabled>
        <img src="img/Star.svg" alt="S" class="rating-icon">
        <span class="text-normal-default-bold">
            {{rating}}
        </span>
    </button>
</div>
