<link rel="stylesheet" href="./src/components/PaymentCard/PaymentCard.css" type="text/css">

{{#if addCard}}

    <a href="/addPaymentCard" class="payment-card-template add-payment-card" id="add-payment-card">
        <div class="card-title text-normal-default"></div>

        <div class="card-number text-normal-default">
            <img class="add-card-pic" src="img/Add_card.svg" alt="PLUS">
            <div class="text-add-card text-normal-default"> Добавить карту</div>

        </div>

    </a>

{{else}}
    <div class="payment-card-wrapper">

        <div {{#if priority}}
        class="payment-card payment-card-template primary-payment-card "
        {{else}}
        class="payment-card payment-card-template other-payment-card payment-card"
        {{/if}} id="">
            <div class="payment-card-title text-normal-default">
                {{#if priority}}
                    Основная карта
                {{else}}
                    Дополнительная карта
                {{/if}}

            </div>

            <div class="payment-card-number text-normal-default">
                {{number}}

            </div>


            <div class="card-date-type">
                <div class="expiry-date text-normal-default">{{expiryDate}}</div>

                <img class="payment-system-logo" src="img/MIR.svg" alt="Payment system logo">

            </div>
        </div>


        <div class="change-pop-up change-payment-card">
            {{!-- <a href="/editPaymentCard{{index}}" class="pop-up-button edit-payment-card">
                <img src="img/editButton.svg" class="pop-up-button-pic">
            </a> --}}
            {{!-- <div class="separation-line"></div> --}}
            <a href="/deletePaymentCard{{index}}" class="pop-up-button delete-payment-card">
                <img src="img/deleteButton.svg" class="pop-up-button-pic">
            </a>
        </div>
    </div>
{{/if}}
