<form method="post" class="popup-form__user-info" novalidate>
    <div class="popup-form__user-info__header text-normal-large-normal">
        Изменить {{title}}
    </div>
    <div class="popup-form__user-info__fields">
        {{#each fields}}
            <div class="popup-form__field" id="{{this.id}}__div">
                <div class="field-name__user-info text-normal-default">
                    {{this.name}}
                </div>
                <input maxlength="30" class="popup-form__user-info__input text-normal-default" name="{{this.name}}"
                       id="{{this.id}}" type="{{this.type}}" value="{{this.value}}">
            </div>
        {{/each}}
    </div>
    <div class="popup-form__user-info__buttons">
        <button class="button-default popup-form__user-info__button popup-form__user-info__cancel"
                id="popup-form_user-info__cancel">Отменить
        </button>
        <button class="button-default popup-form__user-info__button popup-form__user-info__apply"
                id="popup-form_user-info__apply">Применить
        </button>
    </div>
</form>
