<div class="paint-background"></div>
<div class="content-product-page content-product-page_margin">
    <div class="content-product-page-block-background product-page-header-main_padding"
         id="product-page__header-product">

    </div>
    <div class="product-page-main">
        <div class="product-page-main__information content-product-page-block-background product-page-header-main_padding">
            <img src="{{imgsrc}}" alt="product photo" class="product-page-main__photo">
            <div class="product-page-main__characteristics">
                <span class="product-page-information__header text-normal-default__bold">Коротко о товаре</span>
                {{#if properties}}
                    {{#each properties}}

                        <div class="product-page-characteristics__name">
                            <span class="text-normal-default">{{this.name}}</span>
                        </div>

                        <span class="product-page-characteristics__dots text-normal-default">
                            ................................................................................................
                        </span>

                        <span class="product-page-characteristics__description text-normal-default">
                            {{#if this.description}}
                                {{this.description}}{{else}}не указано{{/if}}
                        </span>
                    {{/each}}
                {{else}}
                    <span class="text-normal-default">Нет информации о товаре</span>
                {{/if}}
            </div>
        </div>
        <div class="product-page-main__add-cart content-product-page-block-background">
            {{#if strPrice}}
                <div class="product-page-main__price">
                    <span class="text-normal-default product-page-main__price-strikethrough">{{strPrice}} ₽</span>
                    <div class="product-page-main__sales-value text-normal-small">
                        -{{discount}}%
                    </div>
                </div>
            {{/if}}
            <span class="product-page-color-jet-black text-normal-very-large">{{#if
                    strLowprice}}{{strLowprice}}{{else}}{{strPrice}}{{/if}} ₽</span>
            <span class="product-page-color-jet-black text-normal-default">Доставка: {{delveryDate}}</span>
            <div id="product-block-button-add-to-cart" data-id="{{this.id}}">
            </div>
        </div>
    </div>
    <span class="text-normal-huge">
        С этим товаром покупают
    </span>
    <div class="content__main-horizontal-scroll" id="item-card__recommendation">

    </div>
</div>
<div class="paint-background"></div>
