<div class="product-page-header">
    {{#if path}}
        <a class="text-normal-default product-page-header__path-color" href="{{path.href}}">{{path.name}}</a>
    {{else}}
        <a href="" class="comment-page-header__back link">
            <img src="img/ReturnArrow.png" alt="return-arrow">
            <span class="text-normal-default">К описанию товара</span>
        </a>
    {{/if}}
    <div class="product-page-color-jet-black text-normal-very-large">
        {{name}}
    </div>
    <div class="product-page-header__data">
        <button type="button" class="product-page-header__rating">
            <img src="img/Star.svg" alt="S" class="product-page-header__rating-img">
            <span class="text-normal-large-normal">
                {{rating}}
            </span>
        </button>
        <a href="{{commentsHref}}" class="text-normal-large-normal link">{{commentCount}} отзывов</a>
        <label class="product-page-header__selection">
            <input type="checkbox" class="favourite-opt" {{#if this.favourite}} checked {{/if}}>
            <span class="product-page-header__selection-text text-normal-large-normal" id="favourite-opt_cart__text">{{#if this.favourite}}
                В избранном {{else}} В избранное {{/if}}</span>
        </label>
    </div>
</div>