<div class="paint-background"></div>
<div class="content-comment-page content-comment-page_margin">
    <div class="comment-page-header content-comment-page-block-background comment-page-header-main_padding">
        <a href=""{{itemPath}}>
            <img src="{{imgsrc}}" alt="comment photo" class="comment-page-header__photo">
        </a>
        <div id="comment-page__header-product">

        </div>
        <div class="comment-page-header__right-block">
            <div class="comment-page-header__add-cart">
                <div class="comment-page-header__price">
                    {{#if strPrice}}
                        <div class="comment-page-header__price-discount">

                            <span class="text-normal-default comment-page-header__price-strikethrough">{{strPrice}}
                                ₽</span>
                            <div class="comment-page-header__sales-value text-normal-small">
                                -{{discount}}%
                            </div>
                        </div>
                    {{/if}}
                    <span class="text-normal-large-normal">{{#if
                            strLowprice}}{{strLowprice}} ₽</span>
                {{else}}
                <span class="text-normal-large-normal">
                    {{strPrice}} ₽</span>{{/if}}
                </div>
                <div id="comment-block-button-add-to-cart" data-id="{{this.id}}">
                </div>
            </div>
        </div>
    </div>
    <div class="comment-page-main content-comment-page-block-background comment-page-header-main_padding">
        <div class="comment-page-main__header">
            <div class="comment-page-main__header-name-button">
                <span class="text-normal-very-large comment-page-color-jet-black">Отзывы</span>
                <button id="add-comment-btn"
                        class="button-default comment-page-header__button comment-page-main__button link__no-color">
                    Оставить отзыв
                </button>
            </div>
            <div class="horizontal-line"></div>
        </div>
        <div class="comment-page-main__comments" id="comments">

        </div>
    </div>
</div>
<div class="paint-background"></div>
